<div class="centerForm">
  <h4>Login</h4>

  <error><%= @errors if @errors %></error>

  <form autocomplete="off" method="post" action="/login">
    <input autocomplete="off" class="formField" type="text" name="email" placeholder="Email"></br>
    <input autocomplete="off" class="formField" type="password" name="password" placeholder="Password"></br>
    <input class="smallBtn" type="submit" value="Login">
  </form>
</div>