<div class="centerForm">
  <h4>Sign up</h4>
  <form method="post" action="/users" >
    <input class="formField" type="text" name="user_name" placeholder="Username"></br>
    <input class="formField" type="text" name="first_name" placeholder="First name"></br>
    <input class="formField" type="text" name="last_name" placeholder="Last name"></br>
    <input class="formField" type="text" name="email" placeholder="Email"></br>
    <input class="formField" type="password" name="password" placeholder="Password"></br>
    <input class="formField" type="password" name="password-confirmation" placeholder="Confirm password "></br>
    <input class="smallBtn" type="submit" value="Create an Account">
  </form>
</div>