<div class="row full-height">
  <div class="index-box col-md-8 col-md-offset-2 white-bg full-height">

    <!-- for login partial -->
    <div id='formContainer'>
    </div>

    <h1>community</h1>
    <h3> Discuss and grow interests together </h3>

    <div class="categories">
      <form class="btn" id="relationship-btn" method="get" action="/chats/1">
        <input class="defaultBtn" type="submit" value="relationships">
      </form>

      <form class="btn" id="fitness-nutrition-btn" method="get" action="/chats/2">
        <input class="defaultBtn" type="submit" value="fitness + nutrition">
      </form>

      <form class="btn" id="creative-btn" method="get" action="/chats/3">
        <input class="defaultBtn" type="submit" value="creative">
      </form>

      <form class="btn" id="spiritual-btn" method="get" action="/chats/4">
        <input class="defaultBtn" type="submit" value="spiritual">
      </form>

      <form class="btn" id="technical-btn" method="get" action="/chats/5">
        <input class="defaultBtn" type="submit" value="technical">
      </form>

    </div>

  </div>
</div>
