<div id="white-bg">

  <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">


  <h3> Discuss and grow similar passions </h3>

  <div class="categories">

<!-- #################################################### -->
<!-- MAKE INTO BUTTONS -->
    <a id="relationship-btn" class="button" href="/relationships">relationships</a>
    <a id="fitness-nutrition-btn" class="button" href="/fitness_and_nutrition">fitness + nutrition</a>
    <a id="creative-btn" class="button" href="/creative">creative</a>
    <a id="spiritual-btn" class="button" href="/spiritual">spiritual</a>
    <a id="technical-btn" class="button" href="/technical">technical</a>

  </div>

</div>

